*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(90deg,#000000,#000000);
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;

}
.navbar ul{
    display: flex;
    margin-right: 30px;
    height:30px;
    list-style: none;
    color: #fff;

 
}
.navbar ul li {
margin: 20px;
color: #fff;

}
a{
text-decoration: none;
font-size: 20px;
color: #fff;
}
video{
    margin-left: 800px;
    margin-top: 100px;
    width: 800px;
    height: 600px; 
}
.text{
    margin-top: -450px;
}
h1{
    font-size: 40px;
}
span{
    font-size: 40px;
    transition: opacity 0.s ease-in-out;
}
p{
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
}